.form {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 90rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: var(--box-shadow);
}

.form_leftside, .form_rightside {
    width: 100%;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 7.5rem;
}

.form_leftside-background {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.form_leftside {
    padding-left: 6rem;
    padding-right: 6rem;
}

.form_rightside {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--secondary-bg-color);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.form_leftside-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.container {
    width: 24rem;
    padding: 2rem;
}

.form_leftside-heading {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1.3;
}

.form_leftside-subheading {
    font-size: 1.4rem;
    font-weight: 500;
}

.form_input-filed_box {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}

.input-field {
    width: 100%;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--text-color);
    padding: 1.6rem 1.8rem;
    background-color: #eee;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 1rem;
}

.input-field:hover,
.input-field:active,
.input-field:focus {
    border-color: var(--accent-color);
    background-color: #f4f4f4;
}

.form_rightside_text {
    letter-spacing: 0.8px;
    font-weight: 500;
    line-height: 1.3;
    font-size: var(--font-size);
    color: #fff;
}

.form_submit_btn {
    display: block;
    border: none;
    padding: 2rem 6rem;
    border-radius: 3rem;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 600;
    font-size: var(--font-size);
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: 0.3s;
}

.form_submit_btn:hover, .form_submit_btn:active {
    background-color: var(--accent-hover-color);
}

.form_submit-error {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--error-color);
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .form {
        max-width: 60rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .form_leftside, .form_rightside {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }

    .form_leftside-background {
        border-top-right-radius: var(--border-radius);
        border-bottom-left-radius: 0;
        padding-bottom: 3rem;
    }

    .form_rightside {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        border-top-right-radius: 0;
    }

    .form_leftside-heading {
        margin-bottom: 1rem;
    }

    .form_leftside-header {
        margin-bottom: 3rem;
    }

    .form_input-filed_box {
        gap: 3rem;
    }
}
