.main {
    padding: 10rem 2rem 0 2rem;
}

.main_photo {
    max-width: 18rem;
    margin: 0 auto 2rem auto;
}

.logo {
    height: 100%;
    width: 100%;
}

.main_form {
    margin: 0 auto;
    max-width: 90rem;
    max-height: 56rem;
}

@media screen and (max-height: 800px) {
    .main {
        padding: 4rem 2rem 0 2rem;
    }
}
