:root {
  --border-radius: 1.4rem;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --main-bg-color: #fff;
  --secondary-bg-color: #66869b;
  --text-color: #424242;
  --accent-color: #0090a8;
  --accent-hover-color: #00a7c4;
  --error-color: #ad4242;
  --font-size: 1.6rem;
}

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  height: 100%;
}

body {
  font-family: 'Open+Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  height: 100%;
  background-color: #003456;

  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
}

.margine-bottom-md {
  margin-bottom: 3.8rem;
}

.margine-bottom-sm {
  margin-bottom: 2.4rem;
}

.text-center {
  text-align: center;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}
